/* popup management */
	body.noModal .modalCurtain:not(.previous),
	body.noModal .modalBox:not(.previous) {
		display: none;
	}

/* conf panel generic */
	#kocfia-conf-panel {
		display: none;
		position: absolute;
		z-index: 100001;
	}

	#kocfia-conf-panel .ui-icon.ui-icon-close {
		position: absolute;
		right: -3px;
		top: -3px;
		cursor: pointer;
		z-index: 99999;
	}

	#kocfia-conf-panel label + select {
		margin-left: 5px;
	}

	#kocfia-conf-panel .ui-icon.ui-icon-trash {
		cursor: pointer;
		display: inline-block;
		position: relative;
		top: 2px;
	}

	#kocfia-conf-panel .trip {
		text-align: center;
	}

	#kocfia-conf-panel img {
		position: relative;
		top: 4px;
		margin: 0 2px;
	}

	#kocfia-conf-panel ul:not(.ui-accordion-content) {
		margin: 5px;
	}

	#kocfia-conf-panel .coord {
		width: 60px;
		text-align: center;
	}

	#kocfia-conf-panel input[type=checkbox],
	#kocfia-conf-panel input[type=radio] {
		position: relative;
		top: 2px;
	}

	#kocfia-conf-panel-wrapper {
		overflow: auto;
		margin: 0 10px 10px 10px;
	}

	#kocfia-conf-panel-content .ui-accordion .ui-accordion-content {
		padding: 3px;
		overflow: visible;
	}

	.kocfia-conf-panel-tab.on.auto {
		background-image: -webkit-linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-image: -moz-linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-image: linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	.kocfia-conf-panel-tab.on.pileUp {
		background-image: -webkit-linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-image: -moz-linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-image: linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-repeat: no-repeat;
		background-position: 0 0;
	}

	.kocfia-conf-panel-tab.on.supply {
		background-image: -webkit-linear-gradient(-135deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-image: -moz-linear-gradient(-135deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-image: linear-gradient(-135deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-repeat: no-repeat;
		background-position: right 0;
	}

	.kocfia-conf-panel-tab.on.pileUp.supply {
		background-image: -webkit-linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent), -webkit-linear-gradient(-135deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-image: -moz-linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent), -moz-linear-gradient(-135deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-image: linear-gradient(-45deg, #0063FF, #0063FF 15%, transparent 15%, transparent), linear-gradient(-135deg, #0063FF, #0063FF 15%, transparent 15%, transparent);
		background-repeat: no-repeat, no-repeat;
		background-position: 0 0, right 0;
	}

	.kocfia-conf-panel-tab.off {
		display: none;
	}

	#kocfia-conf-panel fieldset {
		border-width: 1px;
		border-color: #ccc;
	}

	/* jquery ui tabs and panel */
		.ui-tabs .ui-tabs-panel {
			padding: 0;
		}

		.ui-tabs .ui-tabs-nav li a {
			padding: 0.2em 0.5em;
		}

		.ui-tabs .ui-tabs-nav li a small {
			font-size: 9px;
		}

		.ui-tabs-panel h3:not(.ui-accordion-header) {
			margin: 0;
			position: relative;
		}

		.ui-tabs-panel h3:not(.ui-accordion-header):not(:first-child) {
			margin: 4px 0;
		}

		.ui-tabs-panel h3 p {
			float: right;
			font-size: 11px;
			margin: 0;
		}

		.ui-tabs-panel h3 span,
		.ui-tabs-panel h3 .button,
		#kocfia-conf-panel .ui-tabs-panel h3 .button + .button {
			float: right;
			margin: 0 5px;
		}

		.ui-tabs-panel .infos {
			text-align: right;
		}

		.ui-tabs-panel .infos span,
		.ui-tabs-panel .infos .button {
			margin: 0 5px;
		}

		.ui-tabs-panel .infos .buttonset label,
		.ui-tabs-panel .infos .button {
			position: relative;
			top: 1px;
		}

		.ui-tabs-panel .infos label {
			font-weight: bold;
		}

		.ui-tabs-panel table {
			font-size: 11px;
		}

		.ui-tabs-panel .help,
		.ui-tabs-panel .history {
			display:none;
		}

		.ui-tabs-panel .accordion {
			clear: both;
			margin-top: 5px;
		}

		.ui-accordion .ui-accordion-header {
			text-indent: 15px;
			line-height: 20px;
			height: 20px;
		}

		.ui-accordion .ui-accordion-header .ui-icon {
			left: 0;
			margin-left: 0;
		}

	/* clearfix */
		.cf:before,
		.cf:after {
			content: "";
			display: table;
		}

		.cf:after {
			clear: both;
		}

/* kocfia generic */
	.kocfia-timer-div {
		position: absolute;
		color: red;
		font-weight: bold;
		left: 612px;
		display: none;
		font-family: Verdana, Helvetica, sans-serif;
	}

	.mapLink {
		text-decoration: underline;
		color: blue;
		cursor: pointer;
	}

	.navTab .ui-icon {
		height: 10px;
		display: inline-block;
		background-position: -32px -82px;
	}

	#general-refreshFrequency,
	#general-reloadFrequency {
		width: 30px;
		text-align: center;
	}

	#kocfia-reload-msg {
		top: 3px;
	}

	/* dialog with draggable zone near borders */
		.ui-resizable-se {
			bottom: -4px;
			height: 16px;
			right: -4px;
			width: 16px;
		}

		.ui-resizable-ne,
		.ui-resizable-se,
		.ui-resizable-nw,
		.ui-resizable-sw {
			z-index: 100000 !important;
		}

		.ui-draggable.ui-resizable .move-handle {
			display: block;
			line-height: 0;
			font-size: 0;
			position: absolute;
			z-index: 99998;
		}

		.ui-draggable.ui-resizable .move-handle.move-handle-e {
			cursor: move;
			height: 98%;
			right: 2px;
			top: 2px;
			width: 7px;
		}

		.ui-draggable.ui-resizable .move-handle.move-handle-w {
			cursor: move;
			height: 98%;
			left: 2px;
			top: 2px;
			width: 7px;
		}

		.ui-draggable.ui-resizable .move-handle.move-handle-s {
			cursor: move;
			height: 7px;
			bottom: 2px;
			left: 2px;
			width: 98%;
		}

		.ui-draggable.ui-resizable .move-handle.move-handle-n {
			cursor: move;
			height: 7px;
			top: 2px;
			left: 2px;
			width: 98%;
		}

/* history popups */
	.history img {
		width: 20px;
		vertical-align: middle;
		margin: 0;
		top: -2px;
	}

/* option tab */
	#kocfia-options p {
		margin: 3px 0;
	}

/* chat tab */
	#kocfia-chat ul {
		padding-left: 0;
	}

	#kocfia-chat .kocfia-chat-colors label {
		display: inline-block;
		min-width: 120px;
		padding: 3px 6px 3px 0;
		text-align: right;
	}

	#kocfia-options .alarmColors,
	#kocfia-chat .kocfia-chat-colors input {
		width: 65px;
		margin: 2px 0;
	}

	#kocfia-options .alarmColors + .miniColors-trigger,
	#kocfia-chat .kocfia-chat-colors .miniColors-trigger {
		position: relative;
		top: -2px;
	}

	#kocfia-chat input + .button {
		margin-left: 5px;
	}

/* map search tab */
	#kocfia-map .go {
		margin-left: 8px;
	}

	#kocfia-map .save,
	#kocfia-map .filter {
		display: none;
	}

	#kocfia-map .search-status {
		padding: 3px;
		text-align: center;
	}

	#kocfia-map .range {
		width: 40px;
		text-align: center;
	}

	#kocfia-map .search-result table {
		width: 100%;
	}

	#kocfia-map .filter textarea {
		float: right;
		width: 80px;
		height: 70px;
		display: none;
	}

	#kocfia-map .status label + label {
		margin-bottom: 5px;
	}

	#kocfia-map fieldset > div {
		margin: 5px 0;
	}

	#kocfia-map .filter > div {
		margin: 3px 0;
	}

	#kocfia-map .search-result .playerInfo {
		text-decoration: underline;
		color: blue;
		cursor: pointer;
	}

	#kocfia-map .search-result .friendly td {
		background-color: #ADEDAF;
	}

	#kocfia-map .search-result .hostile td {
		background-color: #FFC466;
	}

	#kocfia-map .search-result .ally td {
		background-color: #ADD5ED;
	}

/* auto attack tabs form */
	.attack-form fieldset small {
		display: block;
	}

	.attack-form fieldset select {
		max-width: 150px;
	}

	.attack-form .fl {
		float: left;
	}

	.attack-form .fl + .fl {
		margin-left: 10px;
	}

	.attack-form .builds,
	.attack-form .coords,
	.attack-form .detail,
	.attack-form .keep,
	.attack-form .launch,
	.attack-form .save,
	.attack-form .saveAndLaunch {
		display: none;
	}

	.attack-form .targetLevel,
	.attack-form .rallypointSlot {
		width: 25px;
		text-align: center;
	}

	.attack-form .buttons {
		margin: 5px 0;
		text-align: right;
	}

	.attack-form .buttons button {
		margin-right: 10px;
	}

	.attack-form {
		counter-reset: waves;
	}

	.attack-form fieldset > legend {
		font-weight: bold;
		padding: 0 8px;
	}

	.attack-form fieldset + div + fieldset,
	.attack-form fieldset + fieldset {
		margin-top: 10px;
	}

	.attack-form .wave legend button {
		margin-right: 10px;
	}

	.attack-form .wave legend::after {
		counter-increment: waves;
		content: ' ' counter(waves);
	}

	.attack-form .wave label {
		display: inline-block;
	}

	.attack-form .wave > label,
	.attack-form .unit-block label:first-child {
		min-width: 80px;
	}

	.attack-form .unit-block select + label {
		margin-left: 10px;
	}

	.attack-form select + div,
	.attack-form div + div,
	.attack-form div + .button {
		margin-top: 5px;
	}

	.attack-form input + .button {
		margin-left: 5px;
	}

	.attack-form .unit-qty {
		width: 50px;
		text-align: center;
	}

	.attack-form textarea {
		width: 267px;
		height: 177px;
	}

	#kocfia-barbarian .attack-form textarea {
		height: 52px;
	}

	.attack-form .builds {
		display: none;
		float: right;
		max-width: 220px;
	}

	.attack-form .builds div {
		-webkit-column-count: 2;
		-webkit-column-gap: 5px;
		-moz-column-count: 2;
		-moz-column-gap: 5px;
		column-count: 2;
		column-gap: 5px;
	}

	#kocfia-barbarian .attack-form .builds div {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}

	.attack-form .builds .button {
		margin: 2px 3px;
	}

	.attack-form .rallypointSlot {
		margin-right: 5px;
	}

	/* dark forest attack form */
		.darkForest-form .buttons {
			text-align: right;
			margin-bottom: 5px;
		}

		.darkForest-form > .buttons {
			display: none;
		}

		.darkForest-form .buttons .button {
			margin: 0 5px 0 0;
		}

		.darkForest-form .city-toggles {
			margin-bottom: 5px;
		}

		.darkForest-form table {
			width: 100%;
		}

		.darkForest-form tbody tr {
			display: none;
		}

		.darkForest-form th div {
			float: right;
			font-weight: normal;
			margin-right: 5px;
		}

		.darkForest-form th {
			background-color: #E5DDC9;
		}

		.darkForest-form th,
		.darkForest-form td {
			padding: 3px;
			vertical-align: top;
			text-align: left;
		}

		.darkForest-form h4,
		.darkForest-form h5 {
			text-align: center;
			margin: 0 0 5px 0;
		}

		.darkForest-form h5 {
			font-size: 11px;
		}

		.darkForest-form .rps,
		.darkForest-form .level {
			width: 25px;
			text-align: center;
			margin: 0 3px;
		}

		.darkForest-form .builds {
			width: 90px;
		}

		.darkForest-form .builds div {
			-moz-column-count: 2;
			-moz-column-gap: 5px;
			-webkit-column-count: 2;
			-webkit-column-gap: 5px;
			column-count: 2;
			column-gap: 5px;
		}

		.darkForest-form .form .button,
		.darkForest-form .builds .button {
			margin: 3px;
		}

		.darkForest-form .keep,
		.darkForest-form .wave {
			white-space: nowrap;
		}

		.darkForest-form .keep,
		.darkForest-form .wave {
			width: 165px;
		}

		.darkForest-form .keep div:not(.units) {
			margin-top: 10;
			text-align: center;
		}

		.darkForest-form .detail {
			width: 150px;
			height: 205px;
		}

		.darkForest-form .waves {
			display: inline-block;
		}

		.darkForest-form .form > h4 {
			border-bottom: 1px solid #999;
		}

		.darkForest-form .detail {
			border-right: 1px solid #999;
		}

		.darkForest-form .wave + .wave {
			border-left: 1px solid #999;
		}

		.darkForest-form .form .detail > div,
		.darkForest-form .form .buttons {
			text-align: center;
		}

		.darkForest-form .form .detail > div {
			margin: 2px;
		}

		.darkForest-form .form .detail > div + div {
			margin-top: 10px;
		}

		#kocfia-conf-panel .darkForest-form .summary img,
		#kocfia-conf-panel .darkForest-form .waves img,
		#kocfia-conf-panel .darkForest-form .keep img {
			width: 20px;
			vertical-align: middle;
			margin: 0;
			top: -2px;
		}

		#kocfia-conf-panel .darkForest-form .summary img {
			margin-left: 2px;
		}

		.darkForest-form .summary .rule {
			margin: 2px 0;
		}

		.darkForest-form .summary .rule img {
			margin-left: 2px;
		}

		.darkForest-form .summary .rule span + .button {
			margin-left: 5px;
		}

		.darkForest-form .summary .rule .button {
			margin: 0 2px;
		}

		.darkForest-form .waves input,
		.darkForest-form .keep input {
			width: 45px;
			margin-left: 5px;
			text-align: center;
		}

		.darkForest-form .waves label,
		.darkForest-form .keep label {
			display: inline-block;
		}

		.darkForest-form .detail,
		.darkForest-form .wave,
		.darkForest-form .waves {
			float: left;
		}

		.darkForest-form .keep .units div,
		.darkForest-form .wave .units div {
			padding: 2px 3px;
		}

		.darkForest-form .keep .units,
		.darkForest-form .wave .units {
			-moz-column-count: 2;
			-moz-column-gap: 3px;
			-webkit-column-count: 2;
			-webkit-column-gap: 3px;
			column-count: 2;
			column-gap: 3px;
		}

		.darkForest-form .waves .wave:first-child:last-child .remove {
			display: none;
		}

		.darkForest-form .waves .wave h5:after {
			counter-increment: fo-wave;
			content: ' ' counter(fo-wave);
		}

		.darkForest-form .waves .wave:first-child:last-child h5:after {
			display: none;
		}

	/* scout attack form */
		#kocfia-scout .attack-form .launch,
		#kocfia-scout .attack-form .save,
		#kocfia-scout .attack-form .saveAndLaunch {
			display: inline-block;
		}

		#kocfia-scout .attack-form table {
			width: 100%;
		}

		#kocfia-scout .attack-form tr td:first-child {
			text-align: right;
			white-space: nowrap;
		}

		#kocfia-scout .attack-form tr td {
			text-align: center;
			vertical-align: middle;
		}

		#kocfia-scout .attack-form tr:last-child td {
			vertical-align: top;
		}

		#kocfia-scout .attack-form tr td[colspan] {
			text-align: left;
		}

		#kocfia-scout .attack-form tfoot tr td[colspan] {
			text-align: left;
		}

		#kocfia-scout .attack-form textarea {
			width: 80%;
			height: 100px;
		}

		#kocfia-scout .attack-form tr td input[type=text],
		#kocfia-scout .attack-form tr td input[type=number] {
			width: 95%;
			max-width: 40px;
		}

		#kocfia-scout .attack-form button {
			margin-right: 5px;
		}

/* auto attack ongoing and save list */
	.attack-list.ui-accordion-content {
		padding: 2px;
	}

	.attack-list .trip div .button {
		margin: 3px;
	}

	.attack-list .wave {
		padding-bottom: 5px;
		margin-bottom: 3px;
		border-bottom: 1px solid #ccc;
	}

	.attack-list td .wave:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}

	.attack-list th {
		padding: 2px;
	}

	.attack-list td {
		padding: 2px;
		vertical-align: top;
		white-space: nowrap;
	}

	.attack-list .actions,
	.attack-list .current {
		text-align: center;
	}

	.attack-list .coords,
	.attack-list .info {
		white-space: normal;
		max-width: 200px;
	}

	.attack-list td div {
		text-align: center;
	}

	.attack-list td span {
		display: inline-block;
		padding-right: 5px;
	}

	.attack-list td .button span {
		padding: 0;
	}

	.attack-list img,
	.formation-list img {
		width: 18px;
	}

	.attack-list table,
	.formation-list table {
		width: 100%;
	}

	.attack-list .toggle,
	.formation-list .toggle {
		cursor: pointer;
	}

	.attack-list .toggle .ui-icon,
	.formation-list .toggle .ui-icon {
		float: left;
	}

	.attack-list thead th,
	.formation-list thead th {
		background-color: #cccccc;
	}

	.attack-list tbody th,
	.formation-list tbody th {
		background-color: #e1d5d4;
	}

	.attack-list tbody td,
	.formation-list tbody td {
		background-color: #fdf8f0;
	}

/* ongoing list (auto attack tabs, transport tab */
	.ongoing img {
		margin-right: 5px;
		width: 18px;
		height: 18px;
		position: relative;
		top: 2px;
	}

	.ongoing.ui-accordion .ui-accordion-content {
		padding: 5px;
	}

	.ongoing ol {
		margin: 0;
		padding-left: 30px;
	}

	.ongoing table {
		width: 100%;
	}

	.ongoing td {
		vertical-align: top;
	}

	.ongoing .canceled,
	.ongoing .canceled span {
		text-decoration: line-though;
	}

	.ongoing .canceled .ui-icon-trash {
		visibility: hidden;
	}

	.ongoing td.coords,
	.attack-list td.coords {
		max-width: 200px;
	}

	.ongoing .coords small,
	.attack-list .coords small {
		display: block;
		max-height: 110px;
		overflow: hidden;
	}

	/* scout specific */
		#kocfia-scout .ongoing tbody .trip div {
			position: relative;
		}

		#kocfia-scout .ongoing tbody .trip div .ui-icon {
			position: absolute;
			top: 0;
			left: 0;
			float: none;
		}

	/* dark forest specific */
		#kocfia-darkForest .ongoing .rules div {
			margin: 2px 0;
			white-space: normal;
		}

		#kocfia-darkForest .ongoing .info {
			min-width: 200px;
			max-width: 300px;
		}

	/* transport specific */
		#kocfia-transport .ongoing {
			margin: 5px 0 10px 0;
		}

/* formation tab - form */
	#kocfia-formation .forms fieldset input[type=text] {
		width: 40px;
		text-align: center;
	}

	#kocfia-formation .forms select {
		max-width: 100px
	}

	#kocfia-formation .forms img {
		width: 18px;
		height: 18px;
		position: relative;
		top: 4px;
	}

	#kocfia-formation .forms input + .button {
		margin-left: 10px;
	}

	#kocfia-formation .dynamic {
		margin-bottom: 5px;
	}

	#kocfia-formation .manual-train-form fieldset {
		border: none;
		padding: 0;
	}

	#kocfia-formation .manual-train-form fieldset > button {
		margin: 0 5px 0 0;
	}

	#kocfia-formation .forms fieldset p input + label,
	#kocfia-formation .forms fieldset p select + label,
	#kocfia-formation .forms fieldset p label + label,
	#kocfia-formation .forms fieldset p button + label {
		margin: 0 3px 0 10px;
	}

	#kocfia-formation .forms .save {
		float: right;
	}

	#kocfia-formation .forms fieldset {
		clear: both;
	}

	#kocfia-formation .forms fieldset + fieldset {
		margin-top: 5px;
	}

	#kocfia-formation .forms fieldset:last-of-type {
		margin-bottom: 10px;
	}

	#kocfia-formation fieldset .unit {
		margin-top: 2px;
	}

	#kocfia-formation .manual-train-form .launch,
	#kocfia-formation .manual-train-form .reset {
		display: none;
	}

	#kocfia-formation .forms .button + .button {
		margin-left: 5px;
	}

	#kocfia-formation fieldset p:first-child {
		margin-top: 0;
	}

	#kocfia-formation fieldset p:last-child {
		margin-bottom: 0;
	}

	#kocfia-formation .rule-switch-form {
		padding-right: 4px;
	}

	#kocfia-formation-rule-name {
		width: 80px;
		text-align: left;
	}

	#kocfia-formation .rule-switch-form select {
		width: 80px;
	}

	#kocfia-formation .rule-switch-form .button {
		margin-left: 5px;
	}

/* formation tab - follow up list */
	.formation-list table {
		width: 100%;
	}

	.formation-list table td {
		padding: 0 2px 4px 2px;
	}

	.formation-list table th span {
		margin-left: 3px;
		font-size: 10px;
	}

	.formation-list ol li {
		white-space: nowrap;
	}

	.formation-list ol li span,
	.formation-list ol li img {
		left: -5px;
	}

	.formation-list .global {
		text-align: center;
	}

/* map canvas tab */
	#kocfia-map-canvas {
		width: 350px;
		height: 350px;
		background: #000;
	}

/* transport tab */
	#kocfia-transport .accordion + div {
		margin-top: 15px;
	}

	.priority-list img {
		width: 30px;
		margin-right: 3px;
		vertical-align: middle;
	}

	.priority-list ol {
		list-style: decimal inside;
		margin: 0;
		padding: 0;
	}

	.priority-list li {
		border: 1px solid #666;
		padding: 3px 10px;
		margin: 3px 0;
		height: 30px;
		line-height: 30px;
		border-radius: 6px;
		cursor: move;
	}

	/* manual form */
		#kocfia-transport .manual-form .chosen {
			margin-top: 2px;
		}

		#kocfia-transport .manual-form .chosen input {
			width: 80px;
		}

		#kocfia-transport .manual-form .resources,
		#kocfia-transport .manual-form .troop {
			margin: 22px 0;
		}

		#kocfia-transport .manual-form input[type=number],
		#kocfia-transport .manual-form input[type=text] {
			text-align: center;
		}

		#kocfia-transport .manual-form .items {
			margin-bottom: 6px;
		}

		#kocfia-transport .manual-form .buttons {
			margin-top: 6px;
			display: none;
		}

		#kocfia-transport .manual-form .minTroop,
		#kocfia-transport .manual-form .maxLoad {
			margin-left: 5px;
		}

		#kocfia-transport .manual-form .available {
			display: inline-block;
		}

		#kocfia-transport .manual-form .available img {
			margin: 0 3px 0 0;
			top: 0;
			padding: 0;
		}

		#kocfia-transport .manual-form .from,
		#kocfia-transport .manual-form .to,
		#kocfia-transport .manual-form .items {
			display: inline-block;
		}

		#kocfia-transport .manual-form .items img,
		#kocfia-transport .manual-form .troop img,
		#kocfia-transport .manual-form .resources img {
			width: 20px;
		}

		#kocfia-transport .manual-form .buttonset label img {
			top: 1px;
		}

		#kocfia-transport .manual-form .items.buttonset label {
			position: relative;
			top: 4px;
		}

		#kocfia-transport .manual-form .items.buttonset label:after {
			content: attr(data-count);
			position: absolute;
			font-size: 9px;
			line-height: 9px;
			bottom: 1px;
			right: 2px;
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			display: inline-block;
			padding: 0 1px 1px;
		}

		#kocfia-transport .available .button {
			height: 26px;
			padding: 2px;
		}

		#kocfia-transport .button + .button {
			margin: 5px 0 0 5px;
		}

	/* auto form */
		#kocfia-transport .transport-form .buttons {
			text-align: right;
		}

		#kocfia-transport .transport-form .buttons button {
			margin-left: 10px;
		}

		#kocfia-transport .transport-form table {
			width: 100%;
		}

		#kocfia-transport .transport-form .res {
			text-align: center;
		}

		#kocfia-transport .transport-form .res img {
			margin-bottom: 10px;
		}

		#kocfia-transport .transport-form td {
			padding: 5px;
			vertical-align: top;
		}

		#kocfia-transport .transport-form td .rule:not(:last-child) {
			padding-bottom: 5px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 5px;
		}

		#kocfia-transport .transport-form .rule > div + div {
			margin-top: 3px;
		}

		#kocfia-transport .transport-form .quantity {
			width: 50px;
			text-align: center;
		}

		#kocfia-transport .transport-form .rule select {
			max-width: 100px;
		}

		#kocfia-transport .transport-form .from,
		#kocfia-transport .transport-form .coord {
			margin-right: 15px;
		}

		#kocfia-transport .transport-form select + .button,
		#kocfia-transport .transport-form .button + .button {
			margin: 0 0 0 5px;
		}

/* transport tab */
	#kocfia-reassign .accordion + div {
		margin-top: 15px;
	}

	/* manual form */
		#kocfia-reassign .manual-form .chosen {
			margin-top: 2px;
		}

		#kocfia-reassign .manual-form .chosen input {
			width: 80px;
		}

		#kocfia-reassign .manual-form .knight,
		#kocfia-reassign .manual-form .troop {
			margin: 22px 0;
		}

		#kocfia-reassign .manual-form input[type=number],
		#kocfia-reassign .manual-form input[type=text] {
			text-align: center;
		}

		#kocfia-reassign .manual-form .items {
			margin-bottom: 6px;
		}

		#kocfia-reassign .manual-form .buttons {
			margin-top: 6px; display: none;
		}

		#kocfia-reassign .manual-form .available {
			display: inline-block;
		}

		#kocfia-reassign .manual-form .available img {
			margin: 0 3px 0 0;
			top: 0;
			padding: 0;
		}

		#kocfia-reassign .manual-form select.available {
			display: none;
		}

		#kocfia-reassign .manual-form .from,
		#kocfia-reassign .manual-form .to,
		#kocfia-reassign .manual-form .items {
			display: inline-block;
		}

		#kocfia-reassign .manual-form .items img,
		#kocfia-reassign .manual-form .troop img {
			width: 20px;
		}

		#kocfia-reassign .manual-form .buttonset label img {
			top: 1px;
		}

		#kocfia-reassign .manual-form .items.buttonset label {
			position: relative;
			top: 4px;
		}

		#kocfia-reassign .manual-form .items.buttonset label:after {
			content: attr(data-count);
			position: absolute;
			font-size: 9px;
			line-height: 9px;
			bottom: 1px;
			right: 2px;
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			display: inline-block;
			padding: 0 1px 1px;
		}

		#kocfia-reassign .available .button {
			height: 26px;
			padding: 2px;
		}

		#kocfia-reassign .button + .button {
			margin: 5px 0 0 5px;
		}

	/* auto form */
		#kocfia-reassign .reassign-form .buttons {
			text-align: right;
		}

		#kocfia-reassign .reassign-form .buttons button {
			margin-left: 10px;
		}

		#kocfia-reassign .reassign-form table {
			width: 100%;
		}

		#kocfia-reassign .reassign-form .unit {
			text-align: center;
		}

		#kocfia-reassign .reassign-form .unit img {
			margin-bottom: 10px;
		}

		#kocfia-reassign .reassign-form td {
			padding: 5px;
			vertical-align: top;
		}

		#kocfia-reassign .reassign-form td .rule:not(:last-child) {
			padding-bottom: 5px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 5px;
		}

		#kocfia-reassign .reassign-form .rule > div + div {
			margin-top: 3px;
		}

		#kocfia-reassign .reassign-form .quantity {
			width: 50px;
			text-align: center;
		}

		#kocfia-reassign .reassign-form .rule select {
			max-width: 100px;
			margin-right: 5px;
		}

		#kocfia-reassign .reassign-form .from {
			margin-right: 15px;
		}

		#kocfia-reassign .reassign-form .button + .button {
			margin: 0 0 0 5px;
		}

/* knights tab */
	#kocfia-knights table {
		width: 100%;
	}

	#kocfia-knights .update {
		top: 0;
	}

	#kocfia-knights td,
	#ckofia-knights th {
		padding: 0 2px;
	}

	#kocfia-knights tbody th {
		background-color: #E5DDC9;
	}

	#kocfia-knights tr td:nth-child(3),
	#kocfia-knights tr td:nth-child(4),
	#kocfia-knights tr td:nth-child(5),
	#kocfia-knights tr td:nth-child(6),
	#kocfia-knights tr td:nth-child(7),
	#kocfia-knights tr td:nth-child(8) {
		text-align: center;
	}

	#kocfia-knights .boosted {
		background-color: #EEC973;
	}

	#kocfia-knights .primary {
		font-weight: bold;
	}

	#kocfia-knights .skillPointsLeft .stats {
		cursor: pointer;
	}

	#kocfia-knights .skillPointsLeft .stats:hover {
		background-color: #CAD2D6;
	}

	#kocfia-knights .boost,
	#kocfia-knights .button {
		margin: 1px;
	}

	#kocfia-knights td select {
		max-width: 60px;
	}

	#kocfia-knights .boost {
		cursor: pointer;
		display: inline-block;
		position: relative;
	}

	#kocfia-knights .boost img {
		width: 20px;
		top: 0;
	}

	#kocfia-knights .boost:after {
		content: attr(data-count);
		position: absolute;
		font-size: 9px;
		line-height: 9px;
		bottom: 0;
		right: 2px;
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		display: inline-block;
		padding: 0 1px 1px;
	}

	#kocfia-knights .skillPointsLeft td:nth-child(3) {
		color: #0030FF;
		font-weight: bold;
	}

/* estates tab */
	#kocfia-estates table {
		width: 100%;
	}

	#kocfia-estates .update,
	#kocfia-estates .defend {
		top: 0;
	}

	#kocfia-estates .defend {
		margin-left: 20px;
	}

	#kocfia-estates td,
	#ckofia-estates th {
		padding: 0 2px;
	}

	#kocfia-estates tbody th {
		background-color: #E5DDC9;
	}

	#kocfia-estates tr td:nth-child(1),
	#kocfia-estates tr td:nth-child(2) {
		text-align: center;
	}

	#kocfia-estates tr td:nth-child(4),
	#kocfia-estates tr td:nth-child(5) {
		text-align: right;
	}

	#kocfia-estates .traps {
		width: 40px;
		text-align: center;
		margin: 0 3px;
	}

	#kocfia-estates .max {
		top: 0;
	}

	#kocfia-conf-panel #kocfia-estates th img {
		top: -2px;
		vertical-align: middle;
		width: 20px;
	}

/* alliance warning */
	#kocfia-alliance-warning {
		display: none;
		padding: 0;
	}

	#kocfia-summary .title {
		margin: 2px 0;
		text-indent: 10px;
	}

	#kocfia-summary {
		position:absolute;
		font: 10px/20px Verdana, sans serif;
		font-width: normal;
		z-index: 100005;
		display: none;
	}

	#kocfia-summary .ui-icon-close {
		position: absolute;
		cursor: pointer;
		z-index: 99999;
		right: -3px;
		top: -3px;
	}

	#kocfia-summary .wrap {
		overflow: auto;
		margin: 0 10px 10px 10px;
		text-align: left;
	}

/* input radio and checkbox normalize */
	#kocfia-conf-panel input[type="checkbox"],
	#kocfia-conf-panel input[type="radio"] {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 0;
		*width: 13px;
		*height: 13px;
	}

/* form validation */
	input:invalid,
	textarea:invalid,
	select:invalid {
		box-shadow: 0 0 1.5px 1px #FFC300;
	}

	.kocfia-working,
	.kocfia-error,
	.kocfia-success {
		position: absolute;
		top: 40%;
		left: 0;
		z-index: 100002;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		padding: 5px;
		text-align: center;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	.kocfia-working .close,
	.kocfia-error .close {
		display: inline-block;
		font-size: 10px;
		position: relative;
		margin-left: 10px;
		color: #fff;
		font-weight: bold;
		top: -4px;
		cursor: pointer;
	}

	.kocfia-working {
		color: #18B6F4;
	}

	.kocfia-error {
		color: #FF7700;
	}

	.kocfia-success {
		color: #82F418;
		font-weight: bold;
	}

	.kocfia-working h4,
	.kocfia-error h4 {
		margin: 0;
		padding: 0;
		font-weight: bold;
	}

	.kocfia-error ul {
		margin: 8px 0 0;
	}

/* placeholder */
	::-webkit-input-placeholder {
		font-style: italic;
	}

	:-moz-placeholder {
		font-style: italic;
	}

/* buttonset for radio and inputs */
	legend.buttonset label {
		margin: 0 5px;
	}

	.buttonset input[type=checkbox],
	.buttonset input[type=radio] {
		display: none;
	}

	.buttonset input[type=checkbox] + label,
	.buttonset input[type=radio] + label {
		cursor: pointer;
		border: 1px solid #D3D3D3;
		border-radius: 4px;
		padding: 0 4px 2px 4px;
		color: #555;
		background-color: #FFDAB1;
		display: inline-block;
		margin: 0 4px;
	}

	.buttonset input[type=checkbox]:required:invalid + label,
	.buttonset input[type=radio]:required:invalid + label {
		box-shadow: 0 0 1.5px 1px #FFC300;
	}

	.buttonset input[type=checkbox]:checked + label,
	.buttonset input[type=radio]:checked + label {
		border-color: #AAA;
		color: #212121;
		background-color: #F4FFB7;
	}

	.buttonset input[type=checkbox][disabled] + label,
	.buttonset input[type=radio][disabled] + label {
		cursor: default;
		opacity: 0.35;
	}

	.buttonset input[type=checkbox]:not([disabled]):not(:checked) + label:hover,
	.buttonset input[type=radio]:not([disabled]):not(:checked) + label:hover {
		border-color: #999;
		color: #212121;
		background-color: #DADADA;
	}

/* progress bar */
	.nextIteration,
	.selfAnimProgressBar {
		width: 50px;
		height: 14px;
		background-color: #eee;
		border: 1px solid #666;
		margin: 5px;
		display: block;
		position: absolute;
		right: 3px;
		top: 2px;
		font-size: 11px;
	}

	.nextIteration {
		text-align: center;
		width: 40px;
		text-indent: 0;
		line-height: 14px;
	}

	.ui-tabs-panel h3 .nextIteration,
	.ui-tabs-panel h3 .selfAnimProgressBar,
	.ui-tabs-panel h3 .selfAnimProgressBar span {
		float: none;
		padding: 0;
	}

	.ui-tabs-panel h3 .selfAnimProgressBar span { margin: 0; }

	.selfAnimProgressBar span {
		display: block;
		width: 0%;
		height: 100%;
		background-color: #D3FFCF;
		float: none;
		margin: 0;
		padding: 0;

		-webkit-transition-property: width background-color;
		-webkit-transition-timing-function: linear;
		-webkit-transition-delay: 0s;
		-moz-transition-property: width background-color;
		-moz-transition-timing-function: linear;
		-moz-transition-delay: 0s;
		transition-property: width background-color;
		transition-timing-function: linear;
		transition-delay: 0s;
		-webkit-transition-duration: 0;
		-moz-transition-duration: 0;
		transition-duration: 0;
	}

	.selfAnimProgressBar span.anim {
		width: 100%;
		background-color: #3BE02D;
	}

/* buttons */
	.button {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: #599BDC;
		background-image: -moz-linear-gradient(#599BDC, #3072B3);
		background-image: -webkit-linear-gradient(#599BDC, #3072B3);
		background-image: linear-gradient(#599BDC, #3072B3);
		color: #FFFFFF;
		text-decoration: none;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
		border-width: 1px;
		border-style: solid;
		border-color: #518CC6 #518CC6 #2A65A0;
		border-radius: 3px 3px 3px 3px;
		cursor: pointer;
		display: inline-block;
		font-family: Helvetica,arial,freesans,clean,sans-serif;
		font-size: 11px;
		font-weight: bold;
		height: 21px;
		padding: 0 5px;
		position: relative;
		top: -1px;
		white-space: nowrap;
		line-height: normal;
	}

	button.button::-moz-focus-inner {
		margin: -1px -3px;
	}

	.button > span {
		display: block;
		height: 21px;
		line-height: 21px;
		padding: 0;
	}

	.button > img,
	.button > img + span {
		display: inline-block;
	}

	.button > img + span {
		line-height: 11px;
		font-size: 9px;
		top: 0;
		text-align: right;
		text-shadow: none;
	}

	.ui-widget .button {
		font-family: Helvetica,arial,freesans,clean,sans-serif;
		font-size: 11px;
	}

	.button:hover {
		color: #FFE388;
	}

	.button.secondary:hover {
		color: #1762D9;
	}

	.button.secondary {
		background-color: #F5F5F5;
		background-image: -moz-linear-gradient(#F5F5F5, #E5E5E5);
		background-image: -webkit-linear-gradient(#F5F5F5, #E5E5E5);
		background-image: linear-gradient(#F5F5F5, #E5E5E5);
		border-color: #DDDDDD #DDDDDD #BBBBBB;
		text-shadow: 0 1px rgba(255, 255, 255, 0.9);
		color: #333;
	}

	.button.danger {
		background-color: #F5F5F5;
		background-image: -moz-linear-gradient(#F5F5F5, #E5E5E5);
		background-image: -webkit-linear-gradient(#F5F5F5, #E5E5E5);
		background-image: linear-gradient(#F5F5F5, #E5E5E5);
		border-color: #DDDDDD #DDDDDD #BBBBBB;
		text-shadow: 0 1px rgba(255, 255, 255, 0.9);
		color: #990000;
	}

	.button.danger:hover {
		background-color: #DC5F59;
		background-image: -moz-linear-gradient(#DC5F59, #B33630);
		background-image: -webkit-linear-gradient(#DC5F59, #B33630);
		background-image: linear-gradient(#DC5F59, #B33630);
		border-color: #EF8784 #EF8784 #CD504A;
		color: #FFFFFF;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	}

	.button.modify {
		background-color: #59DC60;
		background-image: -moz-linear-gradient(#59DC60, #45AE4B);
		background-image: -webkit-linear-gradient(#59DC60, #45AE4B);
		background-image: linear-gradient(#59DC60, #45AE4B);
		border-color: #82ED88 #59DC60 #479D4C;
	}

	.button.modify:hover {
		color: #FFE388;
	}

	.button.warning {
		background-color: #FF9000;
		background-image: -moz-linear-gradient(#FF9000, #FF7600);
		background-image: -webkit-linear-gradient(#FF9000, #FF7600);
		background-image: linear-gradient(#FF9000, #FF7600);
		border-color: #FFC200 #FFC200 #BF5901;
		text-shadow: 0 1px rgba(255, 255, 255, 0.5);
		color: #000;
	}

	.button.warning:hover {
		color: #660000;
		text-shadow: 0 1px rgba(255, 255, 255, 0.3);
	}

	#kocfia-buttons {
		margin: 4px 3px 0 3px;
	}

	#kocfia-buttons .button + .button {
		margin-left: 5px;
	}

	#kocfia-transport h3 .nextIteration + .button,
	#kocfia-reassign h3 .nextIteration + .button,
	#kocfia-formation h3 .nextIteration + .button {
		margin-right: 55px;
	}

/* summary */
	#kocfia-summary .title {
		margin: 2px 0;
		text-indent: 10px;
	}

	#kocfia-summary {
		position:absolute;
		font: 10px/20px Verdana, sans serif;
		font-width: normal;
		z-index: 100000;
		display: none;
		padding: 0;
	}

	#kocfia-summary .ui-icon-close {
		position: absolute;
		cursor: pointer;
		z-index: 99999;
		right: -3px;
		top: -3px;
	}

	#kocfia-summary .wrap {
		overflow: auto;
		margin: 0 10px 10px 10px;
		text-align: left;
	}

	#kocfia-summary img {
		width: 16px;
		position: relative;
		top: -1px;
		vertical-align: middle;
	}

	#kocfia-summary table {
		width: 100%;
	}

	#kocfia-summary tbody tr:nth-child(even) td {
		background-color: #EEEEEE;
	}

	#kocfia-summary tbody tr td:first-child {
		width: 40px;
	}

	#kocfia-summary tbody tr td {
		width: 45px;
		text-align: right;
		padding-right: 5px;
	}

	#kocfia-summary th {
		text-align: center;
	}

	#kocfia-summary th,
	#kocfia-summary td {
		padding: 0 2px;
	}

	#kocfia-summary td.warning {
		color: red;
		font-weight: bold;
	}

/* overview */
	#kocfia-overview {
		position:absolute;
		font: 13px/20px Verdana, sans serif;
		font-width: normal;
		z-index: 100000;
		display: none;
	}

	#kocfia-overview .ui-icon-close {
		position: absolute;
		right: -3px;
		top: -3px;
		cursor: pointer;
		z-index: 99999;
	}

	#kocfia-overview .inCamps {
		font-size: 10px;
		display: block;
	}

	#kocfia-overview > h3 {
		margin: 2px 0;
		text-indent: 10px;
	}

	#kocfia-overview .wrap {
		margin: 2px;
		overflow: auto;
	}

	#kocfia-overview.ui-draggable .wrap {
		margin: 0 10px 10px 10px;
	}

	#kocfia-overview table {
		width: 100%;
	}

	#kocfia-overview tbody tr:nth-child(even) td {
		background-color: #EEEEEE;
	}

	#kocfia-overview tr.bb td, #kocfia-overview tr td.bb {
		border-bottom: 2px solid #333;
	}

	#kocfia-overview tr.highlight td, #kocfia-overview th.highlight {
		background-color: #F8E0A8;
	}

	#kocfia-overview tr.highlight.toggle th,
	#kocfia-overview .toggle th.highlight,
	#kocfia-overview .toggle th {
		background-color: #CCC;
	}

	#kocfia-overview tr:nth-child(even) td.sum,
	#kocfia-overview tr td.sum {
		background-color: #D9F4F1;
	}

	#kocfia-overview img {
		width: 20px;
	}

	#kocfia-overview tr td.sum,
	#kocfia-overview tr td.sum ~ td {
		text-align: right;
		padding-right: 5px;
	}

	#kocfia-overview .toggle th {
		width: auto;
		cursor: pointer;
	}

	#kocfia-overview .details-toggle {
		margin-left: 10px;
		font-size: 10px;
		font-weight: normal;
	}

	#kocfia-overview .details-toggle label {
		cursor: pointer;
	}

	#kocfia-overview .details-toggle label:not(:last-child) {
		padding-right: 8px;
	}

	#kocfia-overview .details-toggle input {
		position: relative;
		top: 2px;
	}

	#kocfia-overview .toggle .ui-icon {
		float: left;
		position: relative;
		top: 3px;
	}

	#kocfia-overview .img {
		width: 22px;
	}

	#kocfia-overview .label {
		width: 100px;
	}

	#kocfia-overview .sum {
		width: 55px;
	}

	#kocfia-overview td {
		width: 45px;
	}

	#kocfia-overview th {
		width: 50px; /* right padding of tds */
	}

/* notepad */
	#kocfia-notepad {
		position: absolute;
		font: 10px/20px Verdana, sans serif;
		font-width: normal;
		z-index: 100000;
		display: none;
		padding: 2px 3px;
	}

	#kocfia-notepad .title {
		margin: 0
	}

	#kocfia-notepad .ui-icon-close {
		position: absolute;
		cursor: pointer;
		z-index: 99999;
		right: -3px;
		top: -3px;
	}

	#kocfia-notepad .wrapper {
		overflow: auto;
		margin: 0 10px 10px 10px;
		width: auto;
		text-align: left;
	}

	#kocfia-notepad .content {
		padding: 5px 20px 5px 5px;
	}

	#kocfia-notepad textarea {
		width: 100%;
		height: 150px;
		box-sizing: border-box;
	}

	#kocfia-notepad .wrapper input + label {
		display: block;
	}

	#kocfia-notepad .charsLeft {
		float: right;
	}

	#kocfia-notepad .button + .button {
		margin-left: 5px;
	}

	#kocfia-notepad ul {
		display: block;
		column-count: 3;
		column-gap: 1em;
		margin-top: 0;
		padding-left: 18px;
	}

	#kocfia-notepad li .ui-icon {
		display: inline-block;
		position: relative;
		top: 2px;
	}

	#kocfia-notepad li {
		white-space: nowrap;
	}

	#kocfia-notepad li .button span {
		max-width: 120px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

/* alliance reports warnings and alarm summary */
	#kocfia-alarm-summary,
	#kocfia-alarm-alliance-warning {
		position: absolute;
		font: 10px/20px Verdana, sans serif;
		font-width: normal;
		z-index: 100000;
		display: none;
		padding: 2px 3px;
	}

	#kocfia-alarm-summary .title,
	#kocfia-alarm-alliance-warning .title {
		margin: 0
	}

	#kocfia-alarm-summary .ui-icon-close,
	#kocfia-alarm-alliance-warning .ui-icon-close {
		position: absolute;
		cursor: pointer;
		z-index: 99999;
		right: -3px;
		top: -3px;
	}

	#kocfia-alarm-summary .wrapper,
	#kocfia-alarm-alliance-warning .wrapper {
		overflow: auto;
		margin: 0 10px 10px 10px;
		width: auto;
		text-align: left;
	}

/* data and stats */
	#kocfia-dataAndStats table {
		width: 100%;
		margin-bottom: 20px;
	}

	#kocfia-dataAndStats .might {
		width: auto;
		margin: 0 auto 20px;
	}

	#kocfia-dataAndStats .stats {
		margin-bottom: 5px;
	}

	#kocfia-dataAndStats img {
		top: 0;
		vertical-align: 0;
		width: 20px;
	}

	#kocfia-dataAndStats td {
		text-align: right;
		vertical-align: top;
		padding: 2px 5px 2px 2px;
	}

/* gifts */
	#kocfia-gifts > div {
		margin: 2px 0;
		text-align: center;
	}

	#kocfia-gifts .header {
		margin: 2px 0;
	}

	#kocfia-gifts .header > span {
		margin: 5px;
		display: inline-block;
	}


	#kocfia-gifts .giftType {
		border-top: 1px solid #ccc;
		padding: 2px;
		margin: 2px;
		display: none;
	}

	#kocfia-gifts h4 {
		margin: 2px;
		text-align: center;
	}

	#kocfia-gifts ol {
		-moz-column-count: 3;
		-moz-column-gap: 50px;
		margin: 0;
	}

	#kocfia-gifts li {
		text-align: left;
	}

	#kocfia-gifts .button {
		margin: 0 3px;
	}

	#kocfia-gifts .success {
		color: #1BCC42;
	}

/* build */
	#kocfia-build > ul {
		list-style: none;
	}

	#kocfia-build > ul li {
		display: inline-block;
		float: left;
		margin-right: 10px;
	}


	.kocfia-build-menu {
		position: relative;
		display: none;
		z-index: 100009;
		padding: 4px;
		min-width: 200px;
		font-weight: normal;
		font-style: normal;
		font-family: Verdana;
		font-size: 11px;
		color: #222;
		text-align: center;
	}

	.kocfia-build-menu h3 {
		padding: 0;
		margin: 0;
		text-align: left;
	}

	.kocfia-build-menu .buttons {
		text-align: left;
	}

	.kocfia-build-menu .delete {
		float: right;
	}

	.kocfia-build-menu .apply,
	.kocfia-build-menu .delete {
		margin: 2px 3px;
	}

	.kocfia-build-menu .buildings,
	.kocfia-build-menu .bulwarks,
	.kocfia-build-menu .guardians,
	.kocfia-build-menu .fields,
	.kocfia-build-menu .levels,
	.kocfia-build-menu .buttons {
		margin-top: 4px;
		padding-top: 4px;
		border-top: 1px solid #AAA;
	}

	.kocfia-build-menu .buildings,
	.kocfia-build-menu .bulwarks,
	.kocfia-build-menu .guardians,
	.kocfia-build-menu .fields {
		display: none;
	}

	.kocfia-build-menu .buildings input[type="radio"] + label,
	.kocfia-build-menu .bulwarks input[type="radio"] + label,
	.kocfia-build-menu .guardians input[type="radio"] + label,
	.kocfia-build-menu .fields input[type="radio"] + label {
		margin: 2px;
	}

	.kocfia-build-menu .buildings .button,
	.kocfia-build-menu .bulwarks .button,
	.kocfia-build-menu .guardians .button,
	.kocfia-build-menu .fields .button,
	.kocfia-build-menu .levels .button {
		position: relative;
		top: 2px;
	}

	.kocfia-build-menu div input[type="radio"] + label {
		margin: 0 1px;
	}

	.kocfia-build-menu div input[type="radio"] + label:first-of-type {
		margin-left: 0;
	}

	.kocfia-build-menu div input[type="radio"] + label:last-of-type {
		margin-right: 0;
	}

	a.blank .kocfia-build-menu .buildings {
		display: block;
	}

	#slot_1.blank .kocfia-build-menu .buildings {
		display: none;
	}

	#slot_1.blank .kocfia-build-menu .bulwarks {
		display: block;
	}

	.guardianHover .kocfia-build-menu .guardians {
		display: block;
	}

	.guardianHover:hover .kocfia-build-menu,
	a[id^="slot_"]:hover .kocfia-build-menu {
		display: block;
		top: 0;
		left: 15px;
	}

	#maparea_city .kocfia-build-menu .fields {
		display: none;
	}

	#maparea_fields .kocfia-build-menu .buildings,
	#maparea_fields .kocfia-build-menu .bulwarks,
	#maparea_fields .kocfia-build-menu .guardians {
		display: none;
	}

	a[class^="bldg_"][class$="_1"] .kocfia-build-menu .levels .lt2 {
		display: none;
	}

	a[class^="bldg_"][class$="_2"] .kocfia-build-menu .levels .lt3 {
		display: none;
	}

	a[class^="bldg_"][class$="_3"] .kocfia-build-menu .levels .lt4 {
		display: none;
	}

	a[class^="bldg_"][class$="_4"] .kocfia-build-menu .levels .lt5 {
		display: none;
	}

	a[class^="bldg_"][class$="_5"] .kocfia-build-menu .levels .lt6 {
		display: none;
	}

	a[class^="bldg_"][class$="_6"] .kocfia-build-menu .levels .lt7 {
		display: none;
	}

	a[class^="bldg_"][class$="_7"] .kocfia-build-menu .levels .lt8 {
		display: none;
	}

	a[class^="bldg_"][class$="_8"] .kocfia-build-menu .levels .lt9 {
		display: none;
	}

	a[class^="bldg_"][class$="_9"] .kocfia-build-menu .levels,
	a[class^="bldg_"][class$="_10"] .kocfia-build-menu .levels,
	a[class^="bldg_"][class$="_11"] .kocfia-build-menu .levels,
	a[class^="bldg_"][class$="_12"] .kocfia-build-menu .levels {
		display: none;
	}

	a[id="slot_1"].blank:hover .kocfia-build-menu .bulwarks {
		display: block;
	}

	a[id="slot_1"].blank:hover .kocfia-build-menu .buildings {
		display: none;
	}

	a[id="slot_0"]:hover .kocfia-build-menu .destroy {
		display: none;
	}

	.guardianHover .kocfia-build-menu .destroy:checked ~ .levels,
	a[id^="slot_"] .kocfia-build-menu .destroy:checked ~ .levels {
		display: block;
	}

	#maparea_fields .kocfia-build-menu .destroy:checked ~ .fields {
		display: block;
	}

	#maparea_city a[id^="slot_"] .kocfia-build-menu .destroy:checked ~ .buildings {
		display: block;
	}

	#maparea_city a[id="slot_1"] .kocfia-build-menu .destroy:checked ~ .bulwarks {
		display: block;
	}

	#maparea_city a[id="slot_1"] .kocfia-build-menu .destroy:checked ~ .buildings {
		display: none;
	}
